products/example/example/Builds/VisualStudio2019/.vs/example/v16/Browse.VC.opendb
products/example/example/Builds/VisualStudio2019/.vs/example/v16/Browse.VC.db
products/example/Builds/VisualStudio2017/.vs/example/v16/Browse.VC.db
products/example/Builds/VisualStudio2017/.vs/example/v15/Browse.VC.db
products/example/Builds/VisualStudio2017/x64/
